@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PAPYRUS";
  src: url("../fonts/papyrus.ttf");
}

.hero {
 //background: radial-gradient(rgba(131,148,144), rgba(215,226,223))
}

body {
 background-image: radial-gradient(rgba(215,226,223), rgba(131,148,144));
}

.app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1920px;
 
}

.navbar {
  margin: 0 auto;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
  background: rgb(203,217,213);
  width: 100%;
  max-width: 1920px;
  position:fixed;
  top: 0;
  z-index:5;
  height: 100px;
  /* border-bottom: 1px solid darkgreen; */
}

.contact {
//background: radial-gradient(#d7e2df, #839490)
}

/* .textbox {
  border-top: 1px solid white;
  border-bottom: 2px solid #485853;
} */

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

.btn_menu {
  @apply w-[180px] border-b-2 border-lime-900 flex justify-center p-1 cursor-pointer text-lime-950 text-base;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(172, 188, 179);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153, 176, 163);
  border-radius: 5px;
  box-shadow: inset 0 0 5px black;
  background: rgb(153, 176, 163);
}